body {
	text-align:center;
	background: url("../images/background.jpg");
	background-size: 100%;
}

.container {
	margin-top: 100px;
}

h1 {
	color: #28170D;
	font-family: 'Barrio', cursive;
}

input, textarea {
	border-radius: 5px;
}

button {
	cursor: pointer;
}

p, h3 {
	font-size: 18px;
}

#list {
	margin: 0 auto; 
	width: 60%;
}

p:first-child {
	font-size: 10px;
}

